<ce-column gap="32px">
    <app-layout-example-viewer title="Basic column" src="column-basic" [showHtml]="true" [showCss]="true">
        This is a basic demo
        <app-column-basic></app-column-basic>
    </app-layout-example-viewer>

    <app-layout-example-viewer title="Column with gap" src="column-with-gap" [showHtml]="true" [showCss]="true"
        [showTs]="true">
        This is a column with a gap
        <app-column-with-gap></app-column-with-gap>
    </app-layout-example-viewer>

    <app-layout-example-viewer title="Column with oveflow" src="column-overflow" [showHtml]="true" [showCss]="true"
        [showTs]="true">
        This is a column with a gap overflowing
        <app-column-overflow></app-column-overflow>
    </app-layout-example-viewer>
</ce-column>